#innerlayer {
  width: 90%;
  height: 100%;
  font-family: sans-serif;
  margin: 3% auto;
}

h1 {
  font-size: 50px;
  color: steelBlue;
  border-bottom: 3px solid gray;
  padding-bottom: 4px;
}

h3 {
  font-size: 30px;
  color: steelBlue;
}

h2 {
  font-size: 30px;
  color: steelBlue;
  border-bottom: 3px solid gray;
  padding-bottom: 4px;
}

h4 {
  font-size: 50px;
  color: steelBlue;
}

h5 {
  font-size: 20px;
  color: steelBlue;
}

img {
  float: left;
  height: 40%;
  width: 40%;
}

a {
  font-family: sans-serif;
  font-weight: bold;
}

#form {
  float: right;
  width: 50%;
}

.titles {
  font-size: 20px;
  font-family: sans-serif;
  color: steelBlue;
}
